 html{
   overflow-x: hidden;
 }

:root{
    --yellow: #FDDE56;
    --pink: #ffadc4;
    --text-color: #393E46;
    --white-text: #ffffff;
    --home-color:  #2C024D;

}
body{
  background-color: #fafafa;
}
 
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:var(--pink);
    color:#fff;
}

 
/* css of header  */
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}
.menu-item{
  width: 100px;
  text-align: center;
}

.active{
    border-radius: 20px;
  background: black;
    transition:0.6s;
    

}
 

.nav-con {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
  color: #f7f5f5;
}
@media only screen and (min-width: 768px) {
  .nav-con {
    margin: 0 auto;
    /* padding: 0 2rem; */
  }
}

.brand {
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-pink-600);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  margin: 0 auto;
 

}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 100%;
  height: auto;
  padding: 0.75rem 0;
}
.header .burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 2rem;
  height: auto;
  border: none;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .header .burger {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
.header .burger-line {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 2px;
  margin: 6px auto;
  background: #16161a;
  
  
  
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.menu-item:hover{
  background-color: black;
  border-radius: 20px;
}
.header .menu {
  position: fixed;
  top: 0;
  left: -19rem;
  width: 19rem;
  height: 100%;
  z-index: 999;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  background: var(--color-white);
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  .header .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    opacity: 1;
    visibility: visible;
    background: none;
    box-shadow: none;
  }
}
.header .menu.is-active {
  left: 0rem;
  opacity: 1;
  visibility: visible;
  background: #16161a;
  
  
 
}
.menu-block .menu-item .menu-link{
    color: white;
}
.header .menu-block {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
@media only screen and (min-width: 768px) {
    
  .header .menu-block {
    margin: 0 auto;
  }
}
.header .menu-item {
  display: block;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .header .menu-item {
    position: relative;
    display: inline-block;
    margin: 0 0.625rem;
  }
  
}
.header .menu-link {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  padding: 0.625rem 1.5rem;
  border: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease;
  
  border: 2px;
}
 
 
@media only screen and (min-width: 768px) {
  .header .menu-link {
    padding: 0.5rem 0;
  
  }

}

.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.35s ease-in-out;
}
.header .overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}



.header-scroll.scrolled {
  background-color: #ffffff;
  transition: background-color 200ms linear;
color: black;
  
  
}
.header-scroll.scrolled .active {
  
color: white;
  
  
}
.header-scroll.scrolled .menu-link:hover{
  color: white;
} 
.header-scroll.scrolled .menu-link{
  color: black;
} 
.header-scroll.scrolled .active{
  color: white;
}

@media screen and (max-width: 768px){
    .menu-block .menu-item .menu-link{
        color: #ffffff !important;
    }
  .menu-link{
    color:var(--purple);
  }
 
}
 /* branding */
 

.logo{
  width: 100px;
   border-radius: 5px;

  
 }
.highliht_text{
  font-weight: 900;
}

 .branding{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   width: 150px;
   margin-left: 100px;
   border-radius: 5px;
  
 }
 .company-name {
font-size: 35px;
 color: #16161a;
 font-weight: 900;
 margin: 0%;
 padding: 0%;

 }

/* css of home */

