.home_row{
   
    width: 100%;
    height: auto;
    padding: 0% 50px 20px 50px;
    align-items: center;
    display: flex;
     flex-direction: row;
   background: #2C024D url("../images/Ellipse\ 10-1.svg") ;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 
}

 
.top_arrow{
   
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
    left: 90%;
    margin-top: -25px;
    transform: rotate(45deg);
    
text-align: center;
 
 border-top-left-radius: 25px;
  
 
 
 

}
.arrow{
margin-top: 15px;
transform: rotate(315deg);
color: white;
}
/* .home_row::after{
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 2px solid none;
    border-bottom: 2px solid none;
    border-left: 2px solid none;
    border-right: 2px solid none;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    background-color: #2C024D;
    border-bottom-right-radius: 20px;
    z-index: 1;
} */
 .its_words{
     text-align: center;
     justify-items: center;
     justify-content: center;
     background: #7966FA;
     padding: 50px 0;
     width: 100%;
  
 }
 .its_p{
     font-size: 3.5rem;
     font-weight: 900;
     color: white;
 }
.home_col_1{
    position: relative;
    width: 40vw;
    margin-top: 200px;
    
     
}
.dnd_button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}
.top_arrow{
    display: none;
}
.text_div h1{
    font-size: 3.5rem;
    margin: 50px 0 40px 0;
    font-weight: 800;
    
}
.dnd_tage::after{
    content: '';
  background: #2C024D;
  width: 200px;
  height: 5px;
  position: absolute;
  
  left: 50%;
 margin-top: 73px;
  transform: translateX(-50%);
   
    
}
.social_icon{
    display: flex;
    margin-top: 40px;
}
.footer_contact h1{
    margin-bottom: 25px;
}
.footer_contact li{
    list-style: none;
    font-size: 20px;
    margin: 10px;
}
.footer_nav h1{
    margin-bottom: 25px;
}
.footer_nav li{
    text-decoration: none;
    font-style: normal;
    list-style: none;
    font-size: 20px;
    margin: 10px;
}
.social_icon i{
    padding: 10px;
    font-size: 20px;
}
.footer_clm p{
    font-size: 1.1rem;
    padding: 0 20px 0 0;
}
.footer_clm{
    text-align: left;
  /* padding: 25px 10px; */
  
  color: #fff;
   
}
.menu-link.active,
.menu-link:hover{
    border-radius: 5px;
    background-color: var(--nav-bg-color);
    color: var(--text-color1);
    
    transition:0.6s;
    

}
.copright_div{
    text-align: center;
    background: black;
    color: rgb(187, 184, 184);
    padding-bottom: 50px;
}
.footer_row{
    background: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    padding: 50px 100px 50px 100px;
}
.dnd_button div{
    padding: 17px;
}
.text_div p{
    font-size: 1.5rem;
    margin: 10px 0 50px 0;
}
 
 
.bottom_dnd{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 50px 0;


}
.home_img{
    width: 100%;
    opacity: 0.9;
}
.home_heading{
    font-size: 2.5rem;
    color: var(--white-text);
    font-weight: lighter;
    line-height: 3rem;
    
}
.home_col_2{
    position: relative;
    width: 60vw;
  margin-top: 100px;
  
     
}
 