@media only screen and (max-width: 768px) {
    .home_row{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0% 20px 20px 20px;
        align-items: center;
        display: flex;
         flex-direction: column;
       background: #2C024D url("../images/Ellipse\ 10-1.svg") ;
       background-repeat: no-repeat;
       background-size: contain;
       background-position: top;
     
    }
    .its_words{
        text-align: center;
        justify-items: center;
        justify-content: center;
        background: #7966FA;
        padding: 80px 0;
        width: 100%;
     
    }
    .home_col_2{
        position: relative;
        width: 100%;
      margin-top: 20px;
      z-index: 10;

         
    }
    .mobile{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        min-height: 100vh;
        background-color: bisque;
   
    }
     
    .home_col_1{
        position: relative;
        width: 100%;
        margin-top: 100px;
        
         
    }
     .branding{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   width: 150px;
   margin-left: 10px;
   border-radius: 5px;
  
 }
 .bottom_dnd{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 70px 0;


}
.text_div h1{
    font-size: 2.5rem;
    margin: 20px 0 20px 0;
    font-weight: 700;
    
}
.text_div p{
    font-size: 1rem;
    margin: 10px 0 20px 0;
    font-weight: bold;
}
.dnd_tage::after{
    content: '';
  background: #2C024D;
  width: 200px;
  height: 5px;
  position: absolute;
  
  left: 50%;
 margin-top: 45px;
  transform: translateX(-50%);
   
    
}
.footer_row{
    background: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    padding: 50px 30px 50px 30px;
   
}
}

@media only screen and (max-width: 460px) {
    .home_heading{
        font-size: 2rem;
        color: white;
        font-weight: lighter;
        line-height: 2.5rem;
        
    }
 
    .its_p{
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--white-text);
    }
}